<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
  <h3 class="profile-name"><%= @user.name %></h3>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
  
<div class="card-list-containar py-5 d-flex justify-content-between foods"> 
  <div class="container">
    <div class="row o-4column">
      <% @foods.each do |food| %>
      <div class="col-md-3">
        <div class="card w-100 mt-4 mb-4 mr-4 shadow-lg">
            <%= link_to food_path(food) do %>
              <%= attachment_image_tag food, :image, width: '100%', height: '100%', format: 'jpeg' %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <p class="card-title">
                  <p>投稿ユーザー画像：</p>
                  <p>お店：<%= food.shop_name %></p>
                  <p>説明：<%= food.caption %></p>
                  <p>ユーザーネーム：<%= food.user.name %></p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <% end %>
      <%= paginate @foods %>
    </div>
  </div>
</div>