<h2>投稿フォーム</h2>

<%= form_with model: food, local:true do |f| %>
  <h4>ごはん画像</h4>
  <p><%= f.attachment_field:image %></p>
  <h4>お店</h4>
  <p><%= f.text_field :shop_name %></p>
  <p><%= f.text_field :caption %></p>
  <p><%= f.submit "投稿" %></p>
<% end %>