<div class="container">
  <div class="row">
    <div class="card w-50 mx-auto mb-5 px-auto shadow-lg d-flex justify-content-between">
      <%= link_to food_path(@food_detail) do %>
          <%= attachment_image_tag @food_detail, :image, width: '100%', height: '100%', format: 'jpeg', class:"d-block mx-auto" %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <p class="card-title">
              <%= link_to(food_path(@food_detail), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= @food_detail.shop_name %></span></strong>
              <% end %>
            </p>
            <p class="card-text">説明:<%= @food_detail.caption %></th><br>
            <span><i class="fas fa-user">ユーザー:</i> By <%= @food_detail.user.name %></span><br>
              <% if @food_detail.user_id == current_user.id %>
                <span><i class="fas fa-edit"></i>|<%= link_to "編集", edit_food_path %></span><br>
                <span><i class="fas fa-trash-alt"></i> |<%= link_to "削除", food_path(@food_detail), method: :delete %></span><br>
              <% end %>
              <span><i class="fas fa-backward"></i>　|<%= link_to "戻る", foods_path %></span>
              <% if @food_detail.liked_by?(current_user) %>
              <p>
                <%= link_to food_likes_path(@food_detail), method: :delete do %>
                  ♥<%= @food_detail.likes.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to food_likes_path(@food_detail), method: :post do %>
                  ♡<%= @food_detail.likes.count %> いいね
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
              <div class="new-comment">
                <%= form_with(model:[@food_detail, @food_comment], local: true) do |f| %>
                  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                  <%= f.submit "送信する" %>
                <% end %>
                <p>コメント件数：<%= @food_detail.food_comments.count %></p>
                <% @food_detail.food_comments.each do |food_comment| %>
                  <%= food_comment.user.name %>
                  <%= food_comment.created_at.strftime('%Y/%m/%d') %><%= food_comment.comment %>
                  <% if food_comment.user == current_user %>
                  <%= link_to "削除", food_food_comment_path(food_comment.food, food_comment), method: :delete %>
                  <% end %><br>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  
  <%= render "foods/new", food: @food %>